/* These are the component styles to display an emptly clip list state*/
.no-clips {
  user-select: none;
  transform: translateY(8rem);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  height: 65rem;
  width: 100%;

  /* Styling the icon */
  &__icon {
    margin-top: 10rem;
    width: 100%;
    height: 30rem;

    & > .pencil-icon {
      position: relative;
      font-size: 20rem;
      color: var(--faded-blue-1);
    }
  }

  /* Styling the text */
  &__text {
    & > p {
      font-family: 'Poppins', sans-serif;
      font-size: 2.6rem;
      font-weight: 300;
      text-align: center;
      line-height: 1.2;
      color: var(--faded-blue-2);
    }
  }
}

/* Styling the cliplist */
.cliplist {
  height: 63rem;
  overflow-y: auto;
  overflow-x: hidden;

  /* Styling the vertical scrollbar */
  &::-webkit-scrollbar {
    width: 2.2em;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--faded-blue-3);
    border-radius: 100vw;
    margin: 1.4em 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
    border: 0.5em solid var(--faded-blue-3);
    border-radius: 100vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-blue);
  }
}
