.toast {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  user-select: none;

  width: 35rem;
  min-height: 7rem;
  background-color: #fff;
  opacity: 0;
  color: var(--primary-blue);
  text-align: center;
  z-index: 50;

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 20px,
    rgba(0, 0, 0, 0.1) 0px -14px 20px, rgba(0, 0, 0, 0.1) 0px 12px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__message {
    margin-top: -0.6rem;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Style the toast message icon and text */
    &-icon {
      display: inline-block;
      font-size: 1.25em;
      margin-right: 2rem;
      margin-top: 0.5rem;
    }

    &-text {
      display: inline-block;
    }
  }
}

.toast-animate {
  animation: toast 2.8s cubic-bezier(0.31, 0.8, 0, 0.99) normal;
}

@keyframes toast {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  25% {
    transform: translate(-50%, -300%);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -300%);
    opacity: 1;
  }

  75% {
    transform: translate(-50%, -300%);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -300%);
    opacity: 0;
  }
}
