header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  font-family: 'Carter One', cursive;
  text-align: center;

  padding: 1.5rem 0;

  color: var(--primary-blue);
  cursor: default;

  & .copy-icon {
    font-size: 2.4em;
    transform: translateY(2px);
  }
}
