.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: var(--primary-blue);
  height: 6rem;
  width: 100%;

  /* 
    Adding a curve to the bottom bar
    The width is calculated as (50% - 4rem)
    as 50% is half the width of the bottom bar
    and 4rem is used to subtract the width of the button.
  */
  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    height: 5px;
    width: calc(50% - 4rem);
    background-color: var(--primary-blue);
    border-top-right-radius: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: -5px;
    right: 0;
    height: 5px;
    width: calc(50% - 4rem);
    background-color: var(--primary-blue);
    border-top-left-radius: 20px;
  }
}

.add-btn {
  position: absolute;
  top: -75%;
  left: 50%;

  border: 1.3em solid #fff;
  border-radius: 50%;
  background-color: var(--primary-blue);

  width: 8rem;
  height: 8rem;

  transform: translate(-50%, 0);
  transition: all 0.2s;
  z-index: 10;

  /* Add the hover and active state styles for the add button */
  &:hover {
    cursor: pointer;
    transform: translate(-50%, 0) scale(1.1);
    background-color: var(--hover-blue);
  }

  &:active {
    cursor: pointer;
    transform: translate(-50%, 0) scale(1);
  }
}

/* Styling the pencil icon */
.pencil-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: #fff;
  user-select: none;
}
